<app-layout></app-layout>
<section>
  <div class="row align-items-center main w-100 p-5" style="padding-bottom: 0 !important">
    <div class="d-flex justify-content-end" style="flex: 1">
      <div class="container p-5">
        <h5 class="as_orange">What’s Your Sign ?</h5>
        <h1 class="text-white">
          Read Your Daily <br />
          Horoscope Today
        </h1>
        <p class="text-white">
          Consectetur adipiscing elit, sed do eiusmod tempor incididuesdeentiut
          labore etesde dolore magna aliquapspendisse and the gravida.
        </p>
        <a href="javascript:;" class="btn btn-more" tabindex="0">read more</a>
      </div>
    </div>
    <div class="w-50 d-flex justify-content-start">
      <img src="../../../../assets/images/krishna1.png" class="img-responsive krishna" alt="img" />
      <img src="../../../../assets/images/chakra.png" class="img-responsive chakra" alt="img" />
    </div>
  </div>
  <div class="row align-items-center main-2 w-100 p-5">
    <div class="d-flex justify-content-center" style="flex: 0.5">
      <img src="https://imagedelivery.net/9sCnq8t6WEGNay0RAQNdvQ/UUID-cl90fl9gg367288vmqyltm0c4rh/public"
        class="img-responsive p-imaige" alt="img" />
    </div>
    <div class="d-flex mt-3 h-100 justify-content-start details" style="flex: 0.5">
      <div class="container p-5">
        <h1 class="text-white as_heading">Know About Astrology</h1>
        <hr class="hr" />
        <p class="text-white mt-4">
          t is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it esdehas a more-or less normal
          distribution of letters,
        </p>
        <p class="text-white mt-4 mb-4">
          As opposed to using 'Content here, content here', making it look
          likesdesdee readable English.Many desktop publishing packages and web
          page editors sdesnow use Lorem Ipsum as their default model text, and
          a search for 'lorem ipsum' will usdencover many web sites still in
          their web page editors sdesnow infancy.
        </p>
        <a href="javascript:;" class="btn btn-more" tabindex="0">read more</a>
      </div>
    </div>
  </div>
  <div class="row services-section">
    <div class="col-12 text-center">
      <h1 class="text-white hedding mt-5">Our Services</h1>
      <hr class="hr2 mt-4 mb-4" />
      <p class="text-white mt-3 w-50 m-auto text">
        Consectetur adipiscing elit, sed do eiusmod tempor incididuesdeentiut
        labore etesde dolore magna aliquapspendisse and the gravida.
      </p>
    </div>
    <div class="row p-5">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card shadow" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">Vastu Shastra</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">Vastu Shastra</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">Vastu Shastra</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">Vastu Shastra</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets//images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..." style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">Vastu Shastra</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">Vastu Shastra</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">Vastu Shastra</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">Vastu Shastra</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row product-section">
    <div class="col-12 text-center">
      <h1 class="text-white hedding mt-5">Our Letest Product</h1>
      <hr class="hr2 mt-4 mb-4" />
      <p class="text-white mt-3 w-50 m-auto text">
        Consectetur adipiscing elit, sed do eiusmod tempor incididuesdeentiut
        labore etesde dolore magna aliquapspendisse and the gravida.
      </p>
    </div>
    <div class="row p-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row p-5">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row p-5">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <!-- <div class="text-center card"  style="background-color: rgb(10 44 78);;">
                                             <img src="../../../assets/vastu-s.png" class="card-img-top m-auto mt-2" alt="..." style="width: 70px;
                                             ">
                                             <div class="card-body text-center">
                                               <h4 class="card-title text-white">Vastu Shastra </h4>
                                               <hr class="hr m-auto mt-4 mb-4">
                                               <p class="card-text text-white">Some quick example text to build on  the card title<br> and make up the bulk of  the card's content.</p>
                                             </div>
                                           
                                             <div class="card-body text-center">
                                               <a href="#" class="read_more ">Read More</a>
                                              
                                             </div>
                                           </div> -->
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row p-5">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>