<app-layout></app-layout>
<section>
  <div class="row align-items-center main w-100 p-5" style="padding-bottom: 0 !important">
    <div class="d-flex justify-content-end" style="flex: 1">
      <div class="container p-5">
        <h5 class="as_orange">रमण रेती रज ?</h5>
        <h1 class="text-white">
          आज रमण रेती रज  <br />
          के बारे में पढ़ें
        </h1>
        <p class="text-white">
          एक बार जब रमण बिहारी खेल रहे थे, तब गोपियों ने उनकी गेंद चुरा ली। तब उन्होंने रेत की ही गेंद बना ली। - भक्त मानते हैं कि यहां की रेत को घुटने वह जोड़ों में रखने पर दर्द खत्म हो जाता है। -
        </p>
        <a href="javascript:;" class="btn btn-more" tabindex="0">read more</a>
      </div>
    </div>
    <div class="w-50 d-flex justify-content-start">
      <img src="../../../../assets/images/krishna1.png" class="img-responsive krishna" alt="img" />
      <img src="../../../../assets/images/chakra.png" class="img-responsive chakra" alt="img" />
    </div>
  </div>
  <div class="row align-items-center main-2 w-100 p-5">
    <div class="d-flex justify-content-center" style="flex: 0.5">
      <img src="../../../../assets/images//rajj.jpg"
        class="img-responsive p-imaige" alt="img" />
    </div>
    <div class="d-flex mt-3 h-100 justify-content-start details" style="flex: 0.5">
      <div class="container p-5">
        <h1 class="text-white as_heading">आइए जानते हैं रज के बारे में</h1>
        <hr class="hr" />
        <p class="text-white mt-4">
          एक बार जब रमण बिहारी खेल रहे थे, तब गोपियों ने उनकी गेंद चुरा ली। तब उन्होंने रेत की ही गेंद बना ली। - भक्त मानते हैं कि यहां की रेत को घुटने वह जोड़ों में रखने पर दर्द खत्म हो जाता है। - लोग यहां आकर लोटते हैं, ताकि इस पवित्र मिट्टी से वे भी पवित्र हो सकें। मान्यता है कि बालकृष्ण यहां चले हैं इसलिए यह पवित्र है। - रेत की गेंद बनाकर एक-दूसरे को मारने से पुण्य मिलता है। सारे दुख दूर हो जाते हैं। इस रेत को पूजनीय माना जाता है। - यहां पर संत आत्मानंद गिरि आए। माना जाता है कि भगवान श्री कृष्ण ने इन्हें साक्षात दर्शन दिए। इसलिए यह स्थान सिद्ध स्थान माना जाता है।
        </p>
        <p class="text-white mt-4 mb-4">
          मिट्टी के पेड़े का भोग या प्रसाद बनाने के लिए पास में बह रही यमुना जी से ही मिट्टी को निकाला जाता है। फिर उसके पेड़े बना कर श्रद्धालुओं को दिए जाते हैं। श्रद्धालु मिट्टी के पेड़ों को प्रसाद अपने घर ले जाते हैं। ब्रह्मांड घाट पर ब्रह्मांड बिहारी मंदिर के दर्शन करने के लिए रोज हजारों श्रद्धालु मंदिर आते हैं। मंदिर पहुंचने के बाद वहां स्थित यमुना जी में स्नान कर पूजा अर्चना करते हैं। यहां आने वाले श्रद्धालुओं को भी इस बात का अचंभा होता है ऐसा पहली बार देखा कि जहां किसी भगवान को मिट्टी का प्रसाद लगता हो।
        </p>
        <a href="javascript:;" class="btn btn-more" tabindex="0">read more</a>
      </div>
    </div>
  </div>
  <div class="row services-section">
    <div class="col-12 text-center">
      <h1 class="text-white hedding mt-5">हमारी सेवाएँ</h1>
      <hr class="hr2 mt-4 mb-4" />
      <p class="text-white mt-3 w-50 m-auto text">
        हम लोग विभिन्न  पवित्र  अस्थान  की मिट्टिया बेचते है जो की पूजा पाठ और विभिन्न  पवित्र कामो  में इस्तेमाल करते है 
      </p>
    </div>
    <div class="row p-5">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card shadow" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">रमण रेती रज</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">वृन्दावन रज</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">यमुना जी की रज</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">गंगा जी की रज</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets//images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..." style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">गोकुल की रज</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">अयोध्या जी की रज</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">श्री द्वारका जी की रज</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        <div class="text-center card" style="background-color: rgb(10 44 78) ;">
          <img src="../../../../assets/images/vastu-s.png" class="card-img-top m-auto mt-2" alt="..."
            style="width: 70px" />
          <div class="card-body text-center">
            <h4 class="card-title text-white">श्री रामेश्वरम जी की रज</h4>
            <hr class="hr m-auto mt-4 mb-4" />
            <p class="card-text text-white">
              Some quick example text to build on the card title<br />
              and make up the bulk of the card's content.
            </p>
          </div>

          <div class="card-body text-center">
            <a href="#" class="read_more">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row product-section">
    <div class="col-12 text-center">
      <h1 class="text-white hedding mt-5">Our Letest Product</h1>
      <hr class="hr2 mt-4 mb-4" />
      <p class="text-white mt-3 w-50 m-auto text">
        Consectetur adipiscing elit, sed do eiusmod tempor incididuesdeentiut
        labore etesde dolore magna aliquapspendisse and the gravida.
      </p>
    </div>
    <div class="row p-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row p-5">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row p-5">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
        
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row p-5">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="card as_product_box" style="border: none; background-color: rgb(10 44 78)">
                  <div class="as_product_img">
                    <img class="card-img" src="https://wallpaper.dog/large/5503433.jpg" alt="Card image"
                      style="height: 342px; border: none" />
                    <ul>
                      <li>
                        <a href="cart.html" tabindex="-1" class="text-decoration-none text-white"><img
                            src="assets/images/svg/cart.svg" alt="" /><span>Add To Card</span></a>
                      </li>
                    </ul>
                  </div>
                  <span><img class="ms-1" src="../../../../assets/images/rating2-removebg-preview.png" alt="img"
                      style="width: 100px" /></span>
                  <h4 class="text-white mt-1 ms-1" style="font-weight: 400">
                    GemStone
                  </h4>
                  <span class="price ms-1">$20 <del>$80</del><span class="as_orange">(60% off)</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>