.main {
    background: url("../../../../assets/images//bg-6.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .hr {
    width: 30%;
    border: 2px solid rgb(255, 47, 0);
  
    border-radius: 5px;
  
    opacity: 1;
  }
  .hr2 {
    margin: auto;
    border: 2px solid rgb(255, 47, 0);
    width: 10%;
    border-radius: 5px;
  
    opacity: 1;
  }
  p {
    font-family: "Open Sans", sans-serif;
  }
  .p-imaige {
    width: 400px;
  }
  .main-2 {
    background: url("https://wallpaperaccess.com/full/1455648.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .services-section {
    background: url("https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }
  .product-section {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqQ7naqQnrYMItdEx-OICzR3P03yKT2dF_j9SCK0Jvv2Gzsj_yKYvcNilBTuxNYRXuEoE&usqp=CAU");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }
  h1 h5 h3 h4 h2 {
    font-family: "Alkatra", "cursive";
    font-family: "Libre Baskerville", serif;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  .row {
    --bs-gutter-x: 0rem !important;
  }
  .as_orange {
    color: orangered;
  }
  .form-group {
    text-align: initial;
    margin: 10px 0;
    padding: 0 10px;
  }
  
  textarea.form-control {
    height: 120px;
    resize: none;
    padding-top: 15px;
  }
  .form-control {
    height: 50px;
    background-color: #1f335e;
    border: none;
    outline: none;
    box-shadow: none !important;
    color: #e5f0f5;
    padding: 0 40px 0 30px;
  }
  .btn-more {
    height: 50px;
    background-color: #ff7200;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    padding: 0 23px;
    position: relative;
    margin-left: 15px;
    color: white;
    border: none !important;
    outline: none;
    width: auto;
    transition: 0.2s linear;
  }
  .btn-more:hover {
    background-color: #0e0859;
  }
  .krishna {
    z-index: 100;
  }
  .chakra {
    top: -70px;
    position: relative;
    right: 485px;
    animation: rotation 8s infinite linear;
    width: 450px;
    height: 450px;
  }
  .read_more {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 1px solid orangered;
    color: orangered;
    letter-spacing: 0.6px;
  }
  .price {
    margin: 5px 0 15px;
    color: orangered;
  }
  .as_product_img {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .as_product_box {
    text-align: left;
    margin: 30px 10px 0;
  }
  .as_product_img ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    bottom: -60px;
    left: 0;
    right: 0;
    background-color: orangered;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    display: flex;
    justify-content: space-around;
  }
  .as_product_box:hover .as_product_img ul {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  @media screen and (max-width: 1000px) {
    .krishna {
      width: 300px;
    }
    .chakra {
      top: -50px;
      position: relative;
      right: 300px;
  
      width: 250px;
      height: 250px;
    }
  }
  @media screen and (max-width: 600px) {
    .p-imaige {
      width: 300px;
    }
    .details {
      float: 1;
    }
    .container {
      padding: 0;
    }
  }
  
  .as_subheading {
    font-size: 22px;
    text-transform: capitalize;
  }
  .as_price {
    font-size: 28px;
    margin: 5px 0 15px;
    color: orangered;
  }
  .as_price del {
    color: rgb(97 117 130);
    margin-left: 10px;
  }
  /* Slider */
  .slick-slider {
    position: relative;
  
    display: block;
    box-sizing: border-box;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list {
    position: relative;
  
    display: block;
    overflow: hidden;
  
    margin: 0;
    padding: 0;
  }
  .slick-list:focus {
    outline: none;
  }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-track:before,
  .slick-track:after {
    display: table;
  
    content: "";
  }
  .slick-track:after {
    clear: both;
  }
  .slick-loading .slick-track {
    visibility: hidden;
  }
  
  .slick-slide {
    display: none;
    float: left;
  
    height: 100%;
    min-height: 1px;
  }
  [dir="rtl"] .slick-slide {
    float: right;
  }
  .slick-slide img {
    display: block;
  }
  .slick-slide.slick-loading img {
    display: none;
  }
  .slick-slide.dragging img {
    pointer-events: none;
  }
  .slick-initialized .slick-slide {
    display: block;
  }
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  .slick-vertical .slick-slide {
    display: block;
  
    height: auto;
  
    border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
    display: none;
  }
  /* stylesheet */
  /* shop single */
  .as_shopsingle_wrapper,
  .as_cartsingle_wrapper,
  .as_checkout_wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .as_shopsingle_nav .as_prod_img {
    margin: 20px 5px 0;
    cursor: pointer;
  }
  .as_shopsingle_for .as_prod_img img {
    margin: 0 auto;
  }
  .as_price {
    font-size: 28px;
    margin: 5px 0 15px;
    color: orangered;
  }
  .as_price del {
    color: rgb(97 117 130);
    margin-left: 10px;
  }
  .prod_quantity {
    display: flex;
    align-items: center;
  }
  .prod_quantity input {
    max-width: 180px;
    margin: 0;
    padding: 0 60px;
    text-align: center;
  }
  .quantity {
    position: relative;
    margin-left: 30px;
    border: 1px solid rgb(255 255 255 / 0.1);
    width: 150px;
  }
  
  .as_btn {
    height: 50px;
    background-color: orangered;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    padding: 0 23px;
    position: relative;
    margin-left: 15px;
    color: var(--white-color);
    border: none !important;
    outline: none;
    width: auto;
    transition: 0.2s linear;
  }
  .as_btn:after,
  .as_btn:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid orangered;
    transition: 0.2s linear;
  }
  .product_buy .as_btn {
    margin-right: 25px;
    margin-top: 20px;
  }
  .as_btn:before {
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 15px solid orangered;
  }
  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s linear;
  }
  .quantity .qty_button {
    position: absolute;
    background-color: #17384e;
    border: none;
    right: 0;
    height: 50px;
    width: 50px;
    top: 0;
    border-left: 1px solid rgb(255 255 255 / 0.1);
    outline: none;
    color: #fff;
  }
  .quantity .qty_button.minus {
    left: 0;
    border-left: none;
    border-right: 1px solid rgb(255 255 255 / 0.1);
  }
  .ad_wishlist {
    color: #fff;
  }
  .ad_wishlist:hover {
    color: #43579a;
  }
  .as_shopsingle_nav .slick-list.draggable {
    padding: 0 !important;
  }
  textarea.form-control {
    height: 120px;
    resize: none;
    padding-top: 15px;
  }
  .as_cartsingle_wrapper .prod_thumb {
    position: absolute;
  }
  
  .as_cartsingle_wrapper .prod_thumb img {
    width: 50px;
  }
  
  .as_cartsingle_wrapper .product_details {
    padding: 0 0 0 70px;
  }
  .as_cartsingle_wrapper td,
  .as_cartsingle_wrapper th {
    padding: 20px !important;
    border-top: 1px solid rgb(255 255 255 / 10%) !important;
  }
  
  .as_cartsingle_wrapper table {
    border: 1px solid rgb(255 255 255 / 10%);
    color: #fff;
  }
  .cupon_code_wrap {
    display: flex;
  }
  .cupon_code_wrap .form-control {
    width: 35%;
    margin-right: 25px;
  }
  .checkout_wrapper_box ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .checkout_wrapper_box ul li {
    display: flex;
  }
  
  .checkout_wrapper_box ul li {
    display: inline-flex;
    margin: 0 20px 30px;
    background-color: var(--dark-color1);
  }
  .checkout_wrapper_box ul li:after {
    border-left-color: var(--dark-color1);
  }
  .checkout_wrapper_box ul li:before {
    border-right-color: var(--dark-color1);
  }
  .checkout_wrapper_box ul li.active {
    background-color: orangered;
  }
  .as_padderTop80 {
    padding-top: 80px;
  }
  .as_tab_wrapper .nav-tabs {
    background-color: #1f335e;
    border: none;
  }
  
  element.style {
  }
  .as_tab_wrapper .nav-tabs > li > button {
    background-color: transparent !important;
    border: none !important;
    font-size: 14px;
    padding: 16px 35px;
    position: relative;
    color: #fff;
  }
  .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .as_tab_wrapper .nav-tabs > li > button::before {
    position: absolute;
    content: "";
    height: 4px;
    width: 0;
    background-color: orangered;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .as_tab_wrapper .nav-tabs > li > button:hover,
  .as_tab_wrapper .nav-tabs > li > button.active {
    color: orangered;
  }
  .as_tab_wrapper div#myTabContent {
    margin-top: 20px;
  }
  
  element.style {
  }
  .tab-content > .active {
    display: block;
  }
  .as_subheading {
    font-size: 22px;
    text-transform: capitalize;
  }
  .as_font14 {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
  }
  .as_padderBottom20 {
    padding-bottom: 20px;
  }
  .fade {
    transition: opacity 0.15s linear;
  }
  .as_tab_wrapper li {
    margin: 10px 0;
  }
  .as_tab_wrapper .nav-tabs > li > button.active {
    color: orangered;
  }
  .as_tab_wrapper .nav-tabs > li > button {
    background-color: transparent !important;
    border: none !important;
    font-size: 14px;
    padding: 16px 35px;
    position: relative;
    color: #fff;
  }
  .checkout_wrapper_box ul li.active:after {
    border-left-color: orangered;
  }
  .checkout_wrapper_box ul li.active:before {
    border-right-color: orangered;
  }
  .checkout_wrapper_box {
    text-align: center;
    background-color: var(--dark-color2);
    padding: 40px;
    border-radius: 10px;
  }
  .checkout_wrapper_box .form-control {
    border: 1px solid rgb(255 255 255 / 10%);
  }
  .checkout_wrapper_box .step:not(:first-of-type) {
    display: none;
  }
  .step .receipt_btn {
    margin: 10px 25px;
  }
  .stock_details span {
    color: #1cb71c;
  }
  .datepicker--time-current-hours.-focus-:after,
  .datepicker--time-current-minutes.-focus-:after {
    background-color: orangered !important;
  }
  
  /* Responsive css */
  @media (min-width: 1400px) and (max-width: 1810px) {
    .as_logo {
      padding: 35px;
    }
    .as_header_detail {
      width: calc(100% - 220px);
    }
    .as_info_detail {
      padding-right: 20px;
    }
    .as_menu_wrapper {
      padding-right: 50px;
    }
    .as_banner_slider .slick-arrow.slick-next {
      right: -795px;
    }
    .as_info_detail ul li,
    .as_right_info,
    .as_menu > ul > li {
      font-size: 14px;
    }
  }
  @media (max-width: 1610px) {
    .as_banner_slider .slick-arrow.slick-next {
      right: -730px;
    }
    .as_customer_slider .slick-arrow.slick-prev {
      left: -100px;
    }
    .as_customer_slider .slick-arrow.slick-next {
      right: -80px;
    }
  }
  @media (max-width: 1450px) {
    .as_banner_slider .slick-arrow.slick-next {
      right: -700px;
    }
    .as_customer_slider .slick-arrow.slick-prev {
      display: none !important;
    }
    .as_customer_slider .slick-arrow.slick-next {
      display: none !important;
    }
  }
  @media (max-width: 1399px) {
    .as_logo {
      padding: 35px;
    }
    .as_header_detail {
      width: calc(100% - 220px);
    }
    .as_banner_wrapper {
      padding: 80px 100px;
    }
    .as_customer_box {
      padding: 0 40px 42px;
    }
  
    .as_info_detail,
    .as_menu_wrapper {
      padding-right: 35px;
    }
    .as_info_detail ul li {
      padding: 15px;
    }
    .as_infobox {
      font-size: 14px;
    }
    .as_menu > ul > li {
      margin: 0 10px;
    }
    .slick-arrow.slick-prev,
    .as_banner_slider .slick-arrow.slick-prev {
      left: -110px;
    }
    .slick-arrow.slick-next {
      right: -100px;
    }
    .as_banner_slider .slick-arrow.slick-next {
      right: -640px;
    }
  }
  @media (max-width: 1360px) {
    .as_menu ul li a {
      font-size: 13px;
    }
    .as_infobox {
      font-size: 12px;
    }
    .as_overview_slider button.slick-prev.as_btn.slick-arrow,
    .as_overview_slider button.slick-next.as_btn.slick-arrow {
      display: none !important;
    }
  }
  @media (max-width: 1260px) {
    .as_infobox .as_infoicon {
      width: 40px;
      height: 40px;
    }
    .as_cart_wrapper {
      margin-left: 20px;
      padding: 10px 15px;
      font-size: 11px;
    }
    .as_menu ul li a {
      padding: 13px 0;
    }
    .as_search_wrapper {
      padding-top: 14px;
    }
    .as_logo {
      padding: 15px;
    }
    .as_info_detail ul li {
      padding: 12px;
    }
    .as_info_detail,
    .as_menu_wrapper {
      padding-right: 0;
    }
    .as_banner_slider .slick-arrow.slick-next {
      right: -580px;
    }
    .as_customer_wrapper .slick-prev {
      left: 0;
    }
    .as_customer_wrapper .slick-next {
      right: 20px;
      margin: 0;
    }
    .as_overview_wrapper .slick-prev {
      left: -20px;
    }
    .as_overview_wrapper .slick-next {
      right: -4px;
    }
  }
  @media (max-width: 1199px) {
    .as_info {
      margin: 10px 0;
    }
    .as_banner_detail h1 {
      font-size: 44px;
      line-height: 50px;
    }
    .as_aboutimg::after {
      display: none;
    }
    .as_aboutimg::before {
      display: none;
    }
    .as_about_slider .slick-dots {
      position: absolute;
      left: 0;
      bottom: -15px;
      right: 0;
      margin: auto;
      display: flex;
      justify-content: center;
    }
    .as_about_slider .slick-dots li {
      margin: 15px 5px;
    }
    p {
      font-size: 14px;
      line-height: 24px;
    }
    .as_product_img > img {
      width: 100%;
    }
    .as_tab_wrapper .nav-tabs > li > a {
      padding: 16px 20px;
    }
    .as_countdown_wrapper ul li {
      padding-right: 30px;
    }
    .as_tag_wrapper .as_btn {
      margin-bottom: 10px;
    }
    .as_contact_form {
      margin-top: 50px;
    }
  }
  @media (max-width: 1160px) {
    .as_banner_slider .slick-arrow.slick-next {
      right: -545px;
    }
  }
  @media (min-width: 1145px) {
    .as_banner_wrapper .slick-dots {
      display: none !important;
    }
  }
  @media (max-width: 1145px) {
    .as_info_detail ul li .as_infobox > span.as_orange {
      width: 50px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .as_banner_slider .slick-arrow.slick-next,
    .slick-arrow.slick-prev,
    .as_banner_slider .slick-arrow.slick-prev,
    .as_overview_wrapper .slick-next {
      display: none !important;
    }
    .as_banner_wrapper .slick-dots {
      text-align: left;
      display: none;
      position: absolute;
      left: -80px;
      transform: rotate(90deg);
      bottom: 0;
    }
  }
  
  @media (max-width: 991px) {
    .as_about_slider {
      max-width: 100%;
      margin: auto;
    }
    .as_contact_form {
      margin-bottom: 0;
      margin-top: 50px;
    }
    .as_product_description {
      padding-top: 50px;
    }
    .as_infobox .as_infoicon {
      width: 30px;
      height: 30px;
    }
    .as_infobox .as_infoicon img {
      width: 15px;
    }
    .as_info_detail ul li .as_infobox > span.as_orange {
      width: 40px;
    }
    .as_logo {
      padding: 10px;
    }
    .as_cart_wrapper {
      margin-left: 10px;
    }
    .as_infobox .as_infoicon {
      margin-right: 5px;
    }
    .as_cart_wrapper > span {
      margin-right: 12px;
    }
    .as_header_detail {
      width: calc(100% - 200px);
    }
    .as_info_detail,
    .as_menu_wrapper {
      padding-right: 6px;
    }
    .as_info_detail ul li {
      padding: 12px 5px;
    }
    .as_info_detail ul li .as_infobox > span.as_orange {
      width: 34px;
    }
    .as_infobox .as_logintext {
      display: none;
    }
    .as_banner_detail h1 {
      font-size: 30px;
      line-height: 40px;
    }
    .as_banner_slider .slick-arrow.slick-next {
      right: -450px;
    }
    .as_banner_detail h5 {
      font-size: 18px;
    }
    .as_aboutimg::before,
    .as_aboutimg::after {
      display: none;
    }
    .as_aboutimg img {
      margin: 0 20px 30px auto;
      width: 100%;
    }
    .as_padderBottom80 {
      padding-bottom: 70px;
    }
    .as_padderTop80 {
      padding-top: 70px;
      overflow: hidden;
    }
    .as_sign_ul li:first-child,
    .as_sign_ul li:last-child,
    .as_sign_ul li:nth-child(2),
    .as_sign_ul li:nth-child(5),
    .as_sign_ul.as_sign_ul_right li:first-child,
    .as_sign_ul.as_sign_ul_right li:last-child,
    .as_sign_ul.as_sign_ul_right li:nth-child(2),
    .as_sign_ul.as_sign_ul_right li:nth-child(5) {
      transform: translateX(0);
    }
    .as_sign_form ul {
      flex-direction: column;
    }
    .as_sign_box > div {
      width: calc(100% - 80px);
    }
    .as_sign_form ul li {
      max-width: 100%;
      width: 100%;
    }
    .as_sign_form ul li:nth-child(3) {
      max-width: 100%;
      margin-bottom: 20px;
    }
    .as_sign_form ul li:last-child {
      max-width: 100%;
      text-align: center;
    }
    .as_newsletter_wrapper {
      display: block;
      text-align: center;
      float: left;
      width: 100%;
    }
    .as_newsletter_wrapper .as_heading::after {
      left: 50%;
      transform: translateX(-50%);
    }
    .as_newsletter_wrapper p {
      margin-bottom: 30px;
    }
    .as_footer_inner {
      float: left;
      display: block;
      width: 100%;
      margin-bottom: 0;
      padding-top: 20px;
    }
    .as_product_img ul {
      display: flex;
      justify-content: space-around;
    }
    .as_whychoose_wrapper .as_verticle_center {
      display: block;
      text-align: center;
    }
    .as_whychoose_wrapper .as_heading:after {
      left: 50%;
      transform: translateX(-50%);
    }
    .as_whychoose_wrapper p {
      margin-bottom: 30px;
    }
    .as_service_detail_inner {
      margin-bottom: 50px;
    }
    .as_newsletter_box {
      margin: 0 20px;
    }
    .as_card_box {
      text-align: center;
    }
    .as_card_box img {
      display: inline-block;
    }
    .as_service_widget.as_download_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .as_service_widget.as_download_box h3,
    .as_service_widget.as_download_box .as_gplay {
      display: inline-block;
    }
    .as_comment_form {
      margin-bottom: 50px;
    }
    .as_heading {
      font-size: 30px;
    }
    .as_about_slider .slick-dots {
      position: absolute;
      left: -45px;
      bottom: 55px;
      display: block;
    }
    .as_sign_box {
      max-width: 100%;
    }
    .as_sign_img {
      margin-top: 45px;
    }
    .as_blog_wrapper .row {
      justify-content: center;
    }
  }
  @media (max-width: 895px) {
  }
  @media (max-width: 830px) {
    .as_banner_slider .slick-arrow.slick-next {
      right: -360px;
    }
  }
  @media (max-width: 767px) {
    .as_info_box {
      margin: 10px 0;
    }
    .menu_open ~ span.as_body_overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(3 29 46 / 0%);
      z-index: 0;
    }
    .as_verticle_center {
      display: block;
    }
    .as_search_wrapper {
      padding-top: 0;
    }
    .as_sign_box {
      margin: 40;
      margin: 40px auto 0 !important;
    }
    .as_blog_img img {
      width: 100%;
    }
    .as_banner_slider .slick-arrow.slick-next {
      right: -75px;
    }
    .as_toggle {
      display: flex;
      margin-right: 20px;
      cursor: pointer;
    }
    .as_menu_wrapper {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .as_menu ul li,
    .as_menu ul li a {
      display: block;
    }
    .as_menu {
      position: fixed;
      left: -200px;
      top: 0;
      bottom: 0;
      background-color: var(--dark-color1);
      z-index: 999;
      width: 200px;
      border-right: 2px solid orangered;
      opacity: 0;
      visibility: hidden;
      overflow-y: auto;
      transition: all 0.3s linear;
    }
    .menu_open .as_menu {
      left: 0;
      opacity: 1;
      visibility: visible;
    }
    .as_menu li {
      display: flex;
      border-bottom: 1px solid rgb(255 255 255 / 10%);
      margin: 0;
    }
    .as_menu ul li a:before {
      display: none;
    }
    .as_menu_wrapper {
      padding: 12px 10px;
    }
    .as_cart_wrapper {
      display: flex;
    }
    .as_cart_wrapper > span {
      margin-right: 20px;
    }
    .slick-arrow.slick-prev,
    .as_banner_slider .slick-arrow.slick-prev {
      left: -102px;
    }
    .as_info_detail {
      justify-content: center;
      flex-direction: column;
      padding: 10px;
    }
    .as_right_info {
      padding-left: 5px;
    }
    .as_search_inner {
      padding: 0 20px;
    }
    .as_menu > ul > li .as_submenu {
      position: relative;
      opacity: 1;
      visibility: visible;
      top: auto !important;
      left: auto !important;
      transform: none !important;
      width: 100%;
      right: auto !important;
      padding: 0;
      background-color: transparent;
      display: none;
    }
    .as_menu > ul > li .as_submenu .as_submenu {
      display: none;
    }
    .as_menu > ul > li .as_submenu:before {
      display: none;
    }
    .as_menu ul li .as_submenu.active {
      display: block;
    }
    .as_menu ul li.as_submenu_li:after {
      position: absolute;
      content: "";
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #ffffff;
      top: 25px;
      right: 0;
    }
    .as_menu ul li.as_submenu_li ul li.as_submenu_li:after {
      top: 18px;
    }
    .as_banner_img {
      margin-top: 50px;
    }
  }
  @media (max-width: 650px) {
    .as_about_slider .slick-dots {
      position: absolute;
      left: 0;
      bottom: 15px;
      right: 0;
      display: flex;
      justify-content: center;
    }
  }
  @media (max-width: 600px) {
    .as_comment_section > ul > li .as_comnt_detail .as_btn {
      position: relative;
      right: auto;
      top: auto;
      padding: 0 20px;
      margin: 10px 0 0 0;
    }
    .slick-arrow.slick-prev,
    .as_banner_slider .slick-arrow.slick-prev,
    .as_banner_slider .slick-arrow.slick-next {
      display: none !important;
    }
    .as_banner_wrapper {
      padding: 80px 40px;
      overflow: hidden;
    }
    .as_header_detail {
      width: calc(100% - 0px);
    }
    .as_banner_wrapper .slick-dots {
      text-align: center;
      display: none;
      position: relative;
      right: 0;
      left: 0;
      transform: rotate(0deg);
      bottom: 0;
    }
    .as_banner_wrapper .slick-initialized .slick-slide {
      text-align: center;
    }
    .as_comment_section > ul > li > ul > li {
      margin-left: 40px;
    }
  }
  @media (max-width: 567px) {
    .as_btn {
      margin: 0;
    }
    .modal .modal-dialog {
      width: 100%;
    }
    .as_zodiac_heading {
      font-size: 24px;
    }
    .as_overview_inner {
      padding: 30px 30px 40px;
    }
    .as_cart_box {
      right: -30px;
    }
  }
  @media (max-width: 450px) {
    .as_newsletter_box {
      position: initial;
    }
    .as_about_admin {
      display: block;
    }
    .as_about_admin .as_aboutImage {
      width: 100%;
      margin-right: 0;
      text-align: center;
      display: flex;
      justify-content: center;
    }
    .as_about_admin .as_aboutDetail {
      width: calc(100% - 0px);
      text-align: center;
      padding-top: 10px;
    }
  
    .as_newsletter_box .as_btn {
      position: relative;
      right: 0;
      top: 20px;
      bottom: 0;
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .as_btn:after,
    .as_btn:before {
      display: none;
    }
  
    .as_journal_box_wrapper {
      padding: 40px 18px !important;
    }
    .as_banner_wrapper {
      padding: 80px 0px;
    }
    .as_banner_wrapper .slick-dots {
      text-align: center;
      display: block;
    }
    .as_info_detail ul li .as_infobox > span.as_orange {
      display: none;
    }
    .as_contact_expert h1 {
      font-size: 20px;
    }
    .as_contact_expert h5 {
      font-size: 15px;
    }
    .as_contact_expert .as_icon {
      width: 50px;
      height: 50px;
    }
    .as_zodiac_heading .as_sign {
      margin-right: 20px;
    }
    .as_zodiac_heading {
      font-size: 20px;
      padding-left: 10px;
    }
    .as_newsletter_box:after,
    .as_newsletter_box:before {
      display: none;
    }
  }
  
  @media (max-width: 400px) {
    .as_logo img {
      width: 107px;
    }
    .as_cart_box {
      width: 270px;
    }
    .modal .modal-dialog {
      margin: 50px auto;
    }
    .as_zodiac_heading {
      font-size: 16px;
    }
    .as_zodiac_heading .as_sign:after,
    .as_zodiac_heading .as_sign:before {
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    .as_zodiac_heading .as_sign {
      height: 60px;
      width: 35px;
    }
    .as_zodiac_heading > span {
      font-size: 12px;
    }
    .as_comment_section > ul > li > ul > li {
      margin-left: 20px;
    }
  }
  