<Section class="sticky-top">
    <header>
      <nav
        id="navbar_top"
        class="navbar navbar-expand-lg navbar-dark p-0"
        style="background-color: #0d1944"
      >
        <div class="container">
          <a class="navbar-brand p-2" href="#"
            ><img
              cclass="img-thumbnail"
              style="width: 70px"
              src="../../../../assets/images/logo-removebg-preview.png"
              alt="logo"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#main_nav"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse flex-column align-items-end"
            id="main_nav"
          >
            <!-- <ul class="navbar-nav ">
                  <li class="nav-item justify-content-center"><a class="nav-link" href="#"> 
                      <div class="as_infobox">
                          <span class="as_infoicon">
                              <img src="assets/images/svg/headphone.svg" alt="">
                          </span>
                      <span class="as_orange">Talk to our Astrogers -</span>+1800 326 3264
                      </div>
                  </a>
                  </li>
                  <li class="nav-item justify-content-end"><a class="nav-link" href="#"> Menu item </a></li>
              <li class="nav-item"><a class="nav-link" href="#"> Menu item </a></li>
              </ul> -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white" href="#"> Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#"> About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/services"> Services </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#"> Blog </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#"> Appointment </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white"
                  routerLink="/product"
                  routerLinkActive="active"
                >
                  Shop
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#"> Pages </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#"> Contact </a>
              </li>
            </ul>
          </div>
          <!-- navbar-collapse.// -->
        </div>
        <!-- container-fluid.// -->
      </nav>
    </header>
  </Section>
  